.sandbox-content{
    min-height: 50px;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 70px;
}

.works-list{font-size: 0;}

.works-list > div{
    display: inline-block;
    width: 33.33%;
    padding-bottom: calc( 33.33% * 0.79 );
    position: relative;
}

.img-wrapper{
    position: absolute;
    top:6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
}

.img-data{
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
}



@media only screen and (max-width: 1200px) {
    .sandbox-content {
        padding-left: 150px;
        padding-right: 150px;
    }
}


@media only screen and (max-width: 768px) {
    .sandbox-content {
        padding-left: 80px;
        padding-right: 80px;
    }

    .works-list > div{
        display: inline-block;
        width: 50%;
        padding-bottom: calc( 50% * 0.79 );
        position: relative;
    }
}


@media only screen and (max-width: 540px) {

    .works-list > div{
        display: inline-block;
        width: 100%;
        padding-bottom: calc( 100% * 0.79 );
        position: relative;
    }

    .works-list{
        margin-left: -25px;
        margin-right: -25px;
    }

    .sandbox{
        padding-left: 5px;
        padding-right: 5px;
    }
    .sandbox-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.works-type{
    list-style: none;
    padding: 0px;
    font-size: 0;
    padding-bottom: 20px;
}

.works-type li a{
    font-family: FZLTXHB--B51-0;
    color: #666666;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.works-type li a:hover{
    cursor: pointer;
    color: #FFD48B;
}

.works-type li{display: inline-block;border: 1px solid #DDDDDD;padding: 2px 7px;min-width: 50px;text-align: center;font-size: 16px;margin-left: 6px;}

h3{
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}

.work-item-shade p{
    color:#ffffff;
    font-size: 14px;
    text-align: center;
}

.img-show{
    margin-top: 40px;
}