{% extends "_layout/index.html" %}
{% block style %}
<style>
    body{min-height: 100%;background-color: #282828;}
    .veil ul li:nth-child(2) a{
        color:#FFD48B;
    }
    article{
        font-family: "微软雅黑", serif;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 30px;
    }
</style>
{% endblock %}
{% block body %}
    <div style="position:absolute;top:50%;left:0;right: 0;transform: translate(0,-50%);text-align: center">
        <img src="/images/ren2.jpg" style="width: 139px;"/>
        <article style="margin-top: 18px;">明明同学<br/>
        一位徘徊在艺术与设计的90后<br/>
        希望通过自身对艺术的认知能自由的行走其中<br/>
        不管是艺术，设计，交互，亦或者产品<br/>
        甚至是代码其实都是相通相融的<br/>
        心在生长，亦在扩展<br/>
        静下心<br/>
        从生活的浮躁中解脱<br/>
        创作出真正属于内心的作品<br/>
        </article>
    </div>
{% endblock %}