{% extends "_layout/index.html" %}
{% block style %}
<style>
    body{min-height: 100%;background-color: #282828;}
    .veil ul li:nth-child(4) a{
        color:#FFD48B;
    }
    article{
        font-family: "微软雅黑", serif;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 30px;
    }

    #contact-type{
        display: block;
        width: 300px;
        font-size: 0;
        padding: 0;
    }

    #contact-info{
        display: block;
        width: 300px;
    }


    #contact-type li{
        display: inline-block;
        font-size: 16px;
        padding-bottom: 14px;
        border-bottom: 2px solid #747474;
        cursor: pointer;
    }

    #contact-type li:nth-child(1){
        text-align: left;
        width: 30%;
    }

    #contact-type li:nth-child(2){
        text-align: center;
        width: 40%;
    }

    #contact-type li:nth-child(3){
        text-align: right;
        width: 30%;
    }

    .type-active{
        color: #FFD48B !important;
        border-bottom: 2px solid #FFD48B !important;
    }

    article{
        margin-top: 17px;
    }

    .contact-info-item{text-align: left;}
    .contact-info-item span{display: inline-block}

    .contact-info-item span:nth-child(1){
        min-width: 40px;
        color:#747474;
    }

    .contact-info-item span:nth-child(2){
        color:#747474;
    }

    .contact-info-item span:nth-child(3){
        padding-left: 4px;
        color: #FFD48B;
    }

    .text-control{
        width: 390px;
        margin-top: 14px;
        padding: 7px;
    }

    article{
        display: none;
    }

    .loading{
        margin-top: 60px;
    }

    /*动画*/
    .loading span:nth-child(1){
         filter: blur(0px);
         animation: blur-text 1.5s 0s infinite linear alternate;
    }

    .loading span:nth-child(2){
        filter: blur(0px);
        animation: blur-text 1.5s 0.2s infinite linear alternate;
    }

    .loading span:nth-child(3){
        filter: blur(0px);
        animation: blur-text 1.5s 0.4s infinite linear alternate;
    }

    .loading span:nth-child(4){
        filter: blur(0px);
        animation: blur-text 1.5s 0.6s infinite linear alternate;
    }

    .loading span:nth-child(5){
        filter: blur(0px);
        animation: blur-text 1.5s 0.8s infinite linear alternate;
    }

    .loading span:nth-child(6){
        filter: blur(0px);
        animation: blur-text 1.5s 1s infinite linear alternate;
    }

    .loading span:nth-child(7){
        filter: blur(0px);
        animation: blur-text 1.5s 1.2s infinite linear alternate;
    }

    @keyframes blur-text {
        0% {filter: blur(0px);}
        100% {filter: blur(4px);}
    }

    .map-location{
        display: inline-block;
        width: 80%;
        padding-bottom: calc( 80% * 0.57 );
        background-image:url(/images/map-world.png) ;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    @media only screen and (max-width: 540px) {
        .map-location{
            display: inline-block;
            width: 100%;
            padding-bottom: calc( 100% * 0.95 );
            background-image:url(/images/map-location.png) ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        article{
            margin-left: -25px;
            margin-right: -25px;
        }
    }
    .text-control:focus{outline:1px solid #FFD48B;}
    .do-input{border: 1px solid #FFD48B;}
</style>
{% endblock %}
{% block pageTitle %}<div style="text-align: center;"><span style="line-height: 34px;">CONTACT</span></div>{% endblock %}
{% block body %}
<div class="sand-box-content" style="text-align: center; padding-top: 37px;">
    <div style="display: inline-block;"><ul id="contact-type" style="color: #747474;list-style: none">
        <li class="type-active" data-id="1">位置</li>
        <li data-id="2">联系方式</li>
        <li data-id="3">留言</li>
    </ul></div>
    <article data-id="1">
        <div class="map-location"></div>
        <!--<img class="map-location" src="/images/map.png" style="width: 65%"/>-->
    </article>
    <article data-id="2">
        <div style="display: inline-block" id="contact-info">
        <div class="contact-info-item"><span>电话</span><span>:</span><span>18216285533</span></div>
        <div class="contact-info-item"><span>邮箱</span><span>:</span><span>782877296@qq.com</span></div>
        <div class="contact-info-item"><span>qq</span><span>:</span><span>782877296</span></div>
        <div class="contact-info-item"><span>微信</span><span>:</span><span>Tmmandmm</span></div>
            </div>
    </article>
    <article data-id="3">
        <form id="data-form">
            <div><input class="text-control" placeholder="您的称呼" style="background-color: #3b3b3b;border: none;" required="required" name="name"/></div>
        <div><input class="text-control" placeholder="您的邮箱" style="background-color: #3b3b3b;border: none;" type="email" required="required" name="email"/></div>
        <div><textarea class="text-control" placeholder="您的留言" style="background-color: #3b3b3b;border: none;min-height: 160px;" required="required" name="content"></textarea ></div>
            <div><div class="text-control" style="margin-left: auto;
    margin-right: auto;"><button id="send" style="background-color: #ffd488;border: none;padding: 4px 20px;cursor: pointer;color:#000000;border-radius: 4px;">发送</button></div></div>
        </form>
    </article>
</div>
{% endblock %}
{% block script %}
<script>
    var currentTypeIndex = 1;

//    $('.text-control').focus(function(e){
//        $(this).addClass('do-input');
//    }).blur(function(){
//        $(this).removeClass('do-input');
//    });

    $('#send').click(function (e) {
        var name = $('input[name="name"]').val();
        var email = $('input[name="email"]').val();
        var content = $('textarea[name="content"]').val();
        if(name && email && content){
            var requestData = $('#data-form').serialize();
            $("article[data-id=3]").html('<div class="loading"><div class="loading-text"><span class="loading-text-words">S</span> <span class="loading-text-words">E</span> <span class="loading-text-words">N</span> <span class="loading-text-words">D</span> <span class="loading-text-words">I</span> <span class="loading-text-words">N</span> <span class="loading-text-words">G</span></div></div>');
            $.ajax({
                url:'/sendmail',
                type:'post',
                data:requestData,
                dataType:'json',
                success:function(data){
                    $("article[data-id=3]").html('<div class="loading"><div class="loading-text">Send success!Will contact you ASAP!</div></div>');
                },
                error:function(data){
                    alert('网络异常！');
                }
            });
        }else{
            alert('请填入完整信息！');
        }
        return false;
    });

    $('article[data-id="'+currentTypeIndex+'"]').show();

    $('#contact-type li').mouseover(function(){
        $('#contact-type li').removeClass('type-active');
        $(this).addClass('type-active');
    });
    $('#contact-type li').click(function(){
        currentTypeIndex = $(this).attr('data-id');
        $('.sand-box-content article').hide();
        console.log(currentTypeIndex);
        $('article[data-id="'+currentTypeIndex+'"]').show();
    })
    $('#contact-type li').mouseleave(function(){
        $('#contact-type li').removeClass('type-active');
        $('#contact-type li:nth-child('+currentTypeIndex+')').addClass('type-active');
    });
</script>
{% endblock %}