{% extends "_layout/index.html" %}
{% block style%}
<style>

    @media only screen and (max-width: 3800px) {
        .sandbox-content {
            padding-left: 1130px;
            padding-right: 1130px;
        }
    }


    @media only screen and (max-width: 2400px) {
        .sandbox-content {
            padding-left: 650px;
            padding-right: 650px;
        }
    }


    @media only screen and (max-width: 1600px) {
        .sandbox-content {
            padding-left: 300px;
            padding-right: 300px;
        }
    }




    @media only screen and (max-width: 1200px) {
        .sandbox-content {
            padding-left: 150px;
            padding-right: 150px;
        }
    }


    @media only screen and (max-width: 768px) {
        .sandbox-content {
            padding-left: 80px;
            padding-right: 80px;
        }

        .works-list > div{
            display: inline-block;
            width: 50%;
            padding-bottom: calc( 50% * 0.79 );
            position: relative;
        }
    }


    @media only screen and (max-width: 540px) {

        .works-list > div{
            display: inline-block;
            width: 100%;
            padding-bottom: calc( 100% * 0.79 );
            position: relative;
        }

        .sandbox{
            padding-left: 5px;
            padding-right: 5px;
        }
        .sandbox-content {
            padding-left: 5px;
            padding-right: 5px;
        }
    }


    .img-show{
        width: 100%;
    }

    .work-detail p{
        font-size: 16px;
    }

    .img-show-item{
        margin-bottom: 7px;
    }

    .img-show-item img{
        width: 100%;
    }

    .veil ul li:nth-child(3) a{
        color:#FFD48B;
    }

    .works-type li:nth-child({{ type }}) a{
        color:#FFD48B;
    }

    h2{
        font-size: 24px;
    }
</style>
{% endblock %}
{% block pageTitle %}<div style="text-align: center;"><span style="line-height: 34px;font-size: 26px;font-family: FZLTXHB--B51-0;color: #333333;">WORKS</span></div>{% endblock %}
{% block body %}
<div class="sandbox-content">
    <div class="works-menu">
        <ul class="works-type">
            <li><a href="works">全部</a></li>
            <li><a href="/works?type=2">UI</a></li>
            <li><a href="/works?type=3">手绘</a></li>
            <li><a href="/works?type=4">动画</a></li>
            <li><a href="/works?type=5">摄影</a></li>
        </ul>
    </div>
    <div class="work-detail">
        <h2>{{ title }}</h2>
        <p>{{ describe }}</p>
        <div class="img-show">
            {% for img in imgs %}
            <div class="img-show-item"><img src="{{ img }}"/></div>
            {% endfor %}
            <!--<div class="img-show-item"><img src="http://zhuyan.me/img/example/1.jpg"/></div>-->
            <!--<div class="img-show-item"><img src="http://zhuyan.me/img/example/2.jpg"/></div>-->
            <!--<div class="img-show-item"><img src="http://zhuyan.me/img/example/3.jpg"/></div>-->
            <!--<div class="img-show-item"><img src="http://zhuyan.me/img/example/4.jpg"/></div>-->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/public/assets/js/imgLiquid.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }


    /*加载works*/




</script>
{% endblock %}