<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<style>
    .pronounce-item {
        display: inline-block;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border: #000000 1px solid;
        border-radius: 6px;
        font-size: 20px;
        margin-right: 12px;
        cursor: pointer;
    }
</style>
<body>
<div style="width: 760px;margin: 0 auto;">
    <h3>长元音:</h3>
    <div style="font-size: 0;">
        <a class="pronounce-item">
            <span>a:</span>
        </a>
        <a class="pronounce-item">
            <span>ɔ:</span>
        </a>
        <a class="pronounce-item">
            <span>ə:</span>
        </a>
        <a class="pronounce-item">
            <span>i:</span>
        </a>
        <a class="pronounce-item">
            <span>u:</span>
        </a>
    </div>
    <h3>短元音:</h3>
</div>

</body>
</html>